beautifulsoup4
boto
celery
Django
django-cors-headers
django-debug-toolbar
django-environ
django-filter
django-hijack
django-htmlmin
djangorestframework
django-storages
django-webpack-loader
django-widget-tweaks
drf-extensions
factory_boy
isort
pillow
psycopg2
pytest-cov
pytest-django
snapshottest
whitenoise
