{% load static i18n webpack_loader utils %}
{% get_current_language as LANGUAGE_CODE %}
{% get_settings "LOAD_EXTERNAL_FILES" as LOAD_EXTERNAL_FILES %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>

  {% comment %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/manifest.json' %}">
  <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
  <meta name="theme-color" content="#ffffff">
  {% endcomment %}

  {% if LOAD_EXTERNAL_FILES %}
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  {% else %}
    {% render_bundle 'fonts' 'css' %}
  {% endif %}

  {% render_bundle 'styles' 'css' %}
  {% block extra_css %}{% endblock %}
</head>
<body id="{% block body_id %}default{% endblock %}" class="{% block body_class %}default{% endblock %}">
  {% block layout %}{% endblock %}

  {% comment %}
  {% if LOAD_EXTERNAL_FILES %}
    <script src="//somelibrary.min.js"></script>
  {% else %}
    <script src="{% static 'vendor/somelibrary.min.js' %}"></script>
  {% endif %}
  {% endcomment %}

  {% block extra_js %}{% endblock %}
</body>
</html>
